@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model Feedback_MVC.Models.CustomerFeedback;

<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Evaluation Form</h1>

    </div>

</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <form class="myform" asp-action="AddFeedback" method="post">



                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">Product Information</h2>
                    </div>
                    <div class="card-body p-2">



                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="exampleAccount" asp-for="CategoryPurchased">Category</label>
                                <select asp-for="CategoryPurchased" asp-items="@ViewBag.category" class="form-control" id="Category">
                                    <option selected="">--Select--</option>
                                </select>
                            </div>


                            <div class="col-md-6">
                                <label for="exampleAccount" asp-for='ProductId'>Product </label>
                                <select asp-for="ProductId" asp-items="@ViewBag.products" class="form-control" id="Product"></select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-4">
                                <p class="required">Overall, how satisfied were you with product/service?</p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline" asp-for="Rating">
                                    <input type="radio" name="Rating" asp-for="Rating" id="Rating" value="1> Very Satisfied
                                </label>
                                <label class="radio-inline" asp-for="Rating">
                                    <input type="radio" name="Rating" asp-for="Rating" id="Rating" value=2> Satisfied
                                </label>
                                <label class="radio-inline" asp-for="Rating">
                                    <input type="radio" name="Rating" asp-for="Rating" id="Rating" value=3> Neutral
                                </label>
                                <label class="radio-inline" asp-for="Rating">
                                    <input type="radio" name="Rating" asp-for="Rating" id="Rating"  value=4> Unsatisfied
                                </label>
                                <label class="radio-inline" asp-for="Rating">
                                    <input type="radio" name="Rating" asp-for="Rating" id="Rating"  value="5"> Very Unsatisfied
                                </label>
                                <label class="radio-inline" asp-for="Rating">
                                    <input type="radio" name="Rating" asp-for="Rating" id="Rating" value="6"> N/A
                                </label>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-12">
                                <p class="required">Which of the following category have you purchased in the last few months.<br />Please check all that apply</p>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="CheckCategory">
                                    <label class="form-check-inline" for="defaultCheck1">
                                        Air Conditioner
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="CheckCategory">
                                    <label class="form-check-inline" for="defaultCheck1">
                                        TV
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="CheckCategory">
                                    <label class="form-check-inline" for="defaultCheck1">
                                        Mobile
                                    </label>
                                </div>
                            </div>


                            <div class="col-md-12 pb-3">
                                <label for="exampleMessage">What do you like about the the Product/Service.</label>
                                <textarea class="form-control" asp-for="Comments" id="Comments" rows="3"></textarea>
                                <small  class="text-muted" asp-validation-for ="Comments">Add comments.</small>
                            </div>


                        </div>
                    </div>


                </div>


                <div class="card">
                    <div class="card-header col-md-12">
                        <h2 class="mb-0">User Information</h2>
                    </div>

                    <div class="card-body p-2">

                        <h6 class="col-md-12">Name</h6>

                        <div class="form-group row ">
                            <div class="col-md-3  ">
                                <label class="col-form-label form-control-label required" asp-for="Title"></label>
                                <input type="text" asp-for="Title" class="form-control" placeholder="Title*" id="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>

                            <div class="col-md-6">
                                <label class="col-form-label form-control-label required" asp-for="First"></label>
                                <input type="text" class="form-control" placeholder="First*" asp-for="First" id="First">
                                <span class="text-danger" asp-validation-for="First"></span>
                            </div>

                            <div class="col-md-3 ">
                                <label class="col-form-label form-control-label required" asp-for="Initial"></label>
                                <input type="text" class="form-control" placeholder="Initial" asp-for="Initial" id="Initial">
                                <span class="text-danger" asp-validation-for="Initial"></span>
                            </div>
                        </div>


                        <div class="form-group row ">
                            <div class="col-md-12  ">
                                <label class="col-form-label form-control-label required" asp-for="MailId"></label>
                                <input type="email" class="form-control" placeholder="Email" asp-for="MailId" id="MailId">
                                <span class="text-danger" asp-validation-for="MailId"></span>
                            </div>


                        </div>





                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label form-control-label required" asp-for="AddressLine"></label>
                                <input type="text" class="form-control" asp-for="AddressLine" placeholder="Address Line*" id="AddressLine">
                                <span class="text-danger" asp-validation-for="AddressLine"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-form-label form-control-label required" asp-for="AddressLine2"></label>
                                <input type="text" asp-for="AddressLine2" class="form-control" placeholder="Address Line2*" id="AddressLine2">
                                <span class="text-danger" asp-validation-for="AddressLine2"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="exampleAccount" asp-for="City"></label>
                                <input type="text" placeholder="City*" class="form-control" asp-for="City" id="City">
                                <span class="text-danger" asp-validation-for="City"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleAccount" asp-for="Region"></label>
                                <input type="text" placeholder="Region*" class="form-control" asp-for="Region" id="Region">
                                <span class="text-danger" asp-validation-for="Region"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="exampleAccount" asp-for="PostalCode"></label>
                                <input type="text" placeholder="Zip Code/Postal*" class="form-control" asp-for="PostalCode" id="PostalCode">
                                <span class="text-danger" asp-validation-for="PostalCode"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleAccount" asp-for="Country"></label>
                                <input type="text" placeholder="Country*" class="form-control" asp-for="Country" id="Country">
                                <span class="text-danger" asp-validation-for="Country"></span>
                            </div>
                        </div>




                    </div>

                </div>

                <div class="card" id="unsatisfactoryBox">
                    <div class="card-header col-md-12">
                        <h2 class="mb-0">More about unsatisfactory</h2>
                    </div>

                    <div class="card-body">

                        <div class="col-md-12 ">
                            <label for="exampleMessage" asp-for="Reason">Reason for unsatisfaction*</label>
                            <textarea class="form-control" id="Reason" asp-for="Reason" rows="3"></textarea>
                            <span class="text-danger" asp-validation-for="Reason"></span>

                        </div>

                        @*<div class="form-group row">
                            <div class="col-md-6">
                                <label for="exampleAccount"></label>
                                <input type="text" placeholder="Zip Code/Postal*" class="form-control" id="PostalCode">
                                <span class="text-danger" asp-validation-for="PostalCode"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleAccount"></label>
                                <input type="text" placeholder="Country*" class="form-control" id="Country">
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label class="col-form-label form-control-label required" asp-for="FileUpload">File Upload</label>
                            <input type="file" class="form-control-file" asp-for="FileUpload" id="File">
                            <span class="text-danger" asp-validation-for="FileUpload"></span>
                        </div>

                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-8">
                        <input class="btn btn-danger" type="reset" value="Cancel">
                        <input class="btn btn-primary" type="submit" value="Save Changes"  onclick="AddFeedback()">
                    </div>
                </div>







            </form>



        </div>
    </div>
</div>


@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

@*<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
<script>


    $(document).ready(function () {

        $('#unsatisfactoryBox').hide();



        $("input[name=Rating]").on("click", function () {
            var selectedValue = $("input[name=Rating]:checked").val();



            if ((selectedValue == 4) || (selectedValue == 5)) {
                $('#unSatisfactoryBox').show();
            }
            else {
                $('#unSatisfactoryBox').hide();
            }




        });
    });


    function AddFeedback() {

        var url = 'https://localhost:44362/AddCandidate';
        var obj = {};
        obj.CategoryPurchased = $('#Category').val();
        obj.ProductId = $('#Product').val();
        obj.Rating = $('#Rating').val();
        obj.Comments = $('#Comments').val();
        obj.Title = $('#Title').val();
        obj.First = $('#First').val();
        obj.Initial = $('#Initial').val();
        obj.AddressLine = $('#AddressLine').val();
        obj.AddressLine2 = $('#AddressLine2').val();
        obj.City = $('#City').val();
        obj.Region = $('#Region').val();
        obj.PostalCode = $('#PostalCode').val();
        obj.Country = $('#Country').val();
        obj.MailId = $('#MailId').val();
        obj.Reason = $('#Reason').val();
        obj.FileUpload = $('#File').val();
        obj.Active = 1;

        


        if (obj) {
            $.ajax({
                type: "POST",
                data: JSON.stringify(obj),
                url: url,
                dataType: "json",
                contentType: "application/json",
                success: function () {

                    var link = "mailto:ssrs5672@gmail.com"
                        + "?cc=reshusuresh5@gmail.com"
                        + "&subject=" + encodeURIComponent("Customer Feedback")
                        + "&body=" + encodeURIComponent(document.getElementById('Hi' + obj.First + ', Your feedback have successfully submitted.Thank you for your response,have a nice day.').value)
                        ;

                    window.location.href = link;

                    alert("Feedback Added successfully,And mail sent to user's mail-Id");
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

       

        



    }


   

</script>