@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customer Satisfactory Feedback</h1>
    <h3 class="mt-5">Submit your feedback here   <a class="btn btn-danger" asp-area="" asp-controller="Feedback" asp-action="AddFeedback">  Customer Feedback</a></h3>
</div>

<style>
    body {
        background-color: lightblue;
    }

    header{
        background-color:burlywood;
    }
</style>